.login__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: var(--body-bg);
}
.login__card {
  width: 360px;
  padding: 40px 32px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  text-align: center;
}

.login__title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 12px;
}

.login__subtitle {
  font-size: 15px;
  color: var(--description-color);
  margin-bottom: 20px;
}

.login__input {
  width: 100%;
  padding: 14px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  font-size: 16px;
  margin-bottom: 18px;
}

.login__input:focus {
  border-color: var(--accent-color);
  box-shadow: 0 0 5px rgba(123,63,228,0.3);
}

.login__btn {
  width: 100%;
  padding: 14px;
  background-color: var(--accent-color);
  color: #fff;
  font-size: 17px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
}

.login__btn:hover {
  background-color: var(--accent-color-hover);
}