.site-promo {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fff;
}
.site-promo__container {
  padding-left: 64px;
  padding-right: 64px;
}
.site-cta {
  width: 100%;
  max-width: 100%;
  background-color: var(--accent-color-active);
  padding: 40px 60px;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.circle-decorative {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 10px solid var(--accent-second-color);
  background-color: transparent;
}
.circle-decorative__1 {
  left: -135px;
  top: -110px;
}
.circle-decorative__2 {
  right: -83px;
  bottom: -70px;
}
.site-cta__image {
  width: 100%;
  max-width: 630px;
  border-radius: 1rem;
  object-fit: cover;
  height: 490px;
}
.site-cta__content {
  width: 100%;
  max-width: 520px;
  margin-left: auto;
  color: #fff;
}
.site-cta__title {
  font-weight: 600;
  line-height: 1.3;
  font-size: 34px;
  letter-spacing: .3px;
  margin-bottom: 22px;
}
.site-cta__description {
  font-size: 17px;
  letter-spacing: 0.3px;
  line-height: 1.5;
  margin-bottom: 30px;
}
.site-cta__heading {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 12px;
}
.site-cta__list {
  padding-left: 15px;
}
.site-cta__item {
  font-size: 17px;
  letter-spacing: 0.3px;
}
.site-cta__item:not(:last-child) {
  margin-bottom: 12px;
}

@media only screen and (max-width:1465px) {
  .site-cta {
    flex-direction: column;
    align-items: start;
  }
  .site-cta__content {
    margin-top: 50px;
  }
  .site-cta__image {
    width: 100%;
  }
  .circle-decorative {
    display: none;
  }
  .site-promo__cta {
    padding: 1.5rem;
  }
  .site-cta__title {
    text-align: center;
  }
}

.circle-decorative__3 , .circle-decorative__4 {
  display: none;
}

@media only screen and (min-width:1003px) and (max-width:1464px) {
  .circle-decorative {
    display: block;
  }
  .circle-decorative__3 {
    right: -50px;
    top: -20px;
  }
  .circle-decorative__4 {
    left: -35px;
    bottom: 50px;
  }
}

@media only screen and (max-width: 420px) {
  .site-promo__container {
    padding-left: 20px;
    padding-right: 20px;
  }
}